<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.edu.mapper.MemberMapper">

<!-- Integer getRegisterNumOneDay(String date);-->
    <select id="getRegisterNumOneDay" resultType="java.lang.Integer">
        select count(*) from ucenter_member where date(gmt_create)=#{date}
    </select>
</mapper>